<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245035868415-f2t58n0rfnsjui4cblukujnfqrd42p7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245035868415-f2t58n0rfnsjui4cblukujnfqrd42p7v</string>
	<key>API_KEY</key>
	<string>AIzaSyDsvY3Z6VGFEKKhzQInYf-vb32_fQym3p4</string>
	<key>GCM_SENDER_ID</key>
	<string>245035868415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>flutterproject-12b13</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproject-12b13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245035868415:ios:75e653a30789151dc0acca</string>
</dict>
</plist>